PORT=3000
MONGO_URL=mongodb+srv

# Значення беремо із акаунта Brevo
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_mail
SMTP_PASSWORD=your_password
# Пошта на яку реєстрували акаунт brevo.com
SMTP_FROM=your_mail

# Довільний рядок для генерації підпису токена
JWT_SECRET=your_password
# Домен фронтенда на який буде вести посилання в листі
FRONTEND_DOMAIN=http://localhost:3000

# Cloudinary
CLOUDINARY_CLOUD_NAME=ваше_значення
CLOUDINARY_API_KEY=ваше_значення
CLOUDINARY_API_SECRET=ваше_значення
